<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="font-family: Gloria Hallelujah, cursive" class="navbar-brand">Agrin</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Заказ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
      </li>
    </ul>
    <ul class="navbar-nav dropdown-menu-md-right">
      <li class="nav-item">
        <a class="nav-link" href="#">Регистрация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Войти</a>
      </li>
    </ul>
  </div>
</nav>
