<div class="parent">

  <div class="view">
    <div class="textOn1">
      <p class="Phead">Agrin - </p>
      <p class="head" >Будущее <br>Сельского-хозяйства</p>
    </div>
  </div>

  <img [src]="imgLink">
</div>


<div class="container padding">
  <div class="margin-60 text-center">
    <span class="about">Почему мы?</span>
  </div>

  <div class="row">
    <div class="col-xl-1"></div>

    <div class="col-xl-3 col-lg-4">
    <div class="card info-block text-center2">
      <figure>
        <img class="image-head" src="assets/media/image/purity.png" alt="Card image cap">
      </figure>
      <div class="card-body">
        <h4 class="card-title">Экологично</h4>
        <p class="card-text">
          В обработке используются средства
          не наносящие вреда окружающей среде
        </p>
      </div>
    </div>
    </div>
  <div class="col-lg-4 col-xl-3">
    <div class="card info-block text-center">
      <figure>
        <img class="image-head" src="assets/media/image/Reliability.png" alt="Card image cap">
      </figure>
      <div class="card-body">
        <h4 class="card-title">Надежно</h4>
        <p class="card-text">
          Отсутствие вредителей в течении 
          длительного времени
        </p>
      </div>
    </div>
  </div>
    <div class="col-xl-3 col-lg-4">
      <div class="card info-block text-center">
        <figure>
          <img class="card-img-top image-head" src="assets/media/image/progress.png" alt="Card image cap">
        </figure>
        <div class="card-body">
          <h4 class="card-title">Быстро</h4>
          <p class="card-text">
            Высокий темп обработки в результате,
            автомат-<br/>изации процессов
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center margin-145x145">
    <a class="btn btn-success">Сделать заказ!</a>
  </div>
</div>

<div class="parent darkened">
  <img style="height: 300px" [src]="imgLingBackRef">
  <div class="textOn2">
    <p style="font-size: 22px"> Eсли остались вопросы, звоните. Мы с радостью ответим на них.</p><br>
    <p style="font-size: 25px">+7(777)-777-000-01-55</p>
  </div>
</div>

<app-footer></app-footer>