.parent{
  position:relative;
  width:100%;
  min-width:320px
}

.parent img{
  display:block;
  width: 100%;
}

.textOn1{
  position: absolute;
  top:50%;
  left:100px;
  bottom:0;
  color:#fff;
  padding:10px 0;
  text-align: left;
}

.Phead{
  font-size: 2em;
  margin: 0;
  opacity: 0.8
}

.head{
  font-size: 2.25em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  opacity: 0.8;
  margin: 0;
}

a{
  font-family: 'Nunito', sans-serif;
  color: white;
  padding: 10px 40px 10px 40px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  background-color: #6BA612;
}

.padding {
  padding : 20px;
  height: 1800;
}


.darkened {
  position: relative;
}

.darkened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.textOn2{
  position:absolute;
  bottom:0;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color:white;
  padding:10px 0;
  text-align: center;
}

.image-head {
  width: 30%;
}

.text-center2 {
  text-align: center;
}

.margin-60 {
  margin: 20px 0 100px;
}


.about {
  font-size: 24px;
  font-weight : bold;
}

figure {
  margin-top: 10px;
  text-align: center;
}


.info-block {
  margin: 10px;
  width: 250px;
  height: 250px;
}


.margin-145x145 {
  margin : 120px 0 50px 0;
}

@media (max-width: 800px) {
  .Phead {
    font-size: 1.6em;
  }
  .head {
    font-size: 1.6em;
  }
}

@media (max-width: 650px) {
  .Phead {
    font-size: 1.3em;
  }
  .head {
    font-size: 1.3em;
  }
  .textOn1 {
    left : 50px;
  }
}

@media (max-width: 450px){
  .Phead {
    font-size: 1.1em;
  }
  .head {
    font-size: 1.1em;
  }
  .textOn1 {
    left : 15px;
    top : 50%;
  }
}

@media (max-width: 450px){
  .textOn1 {
    left : 15px;
    top : 45%;
  }
}



@media (max-width : 991px) {
  .info-block {
    margin: 10px auto;
    position: relative;
    width: 250px;
    height: 250px;
  }
}