<div class="modal-header">
    <h4 class="modal-title">Редактирование обьема</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Объем: </label>
            <input 
              type="text" 
              class="form-control" 
              id="formGroupExampleInput" 
              placeholder="Example input" 
              [formControl]='formControlVolume'
            >
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="add()">Добавить</button>
    <button type="button" class="btn btn-outline-dark" (click)="subtract()">Вычесть</button>
</div>